body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    background-color: #010806;
    margin: 0;
    padding-top: 60px;
}
.div{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    margin-bottom: 0.5em;
    color: #df2121;
}